@model VegetarianViewModel

<div class="alert alert-warning alert-dismissible">
    The requirement for iron is 1.8 times higher for vegetarians due to the lower bioavailability of iron from a vegetarian diet.<sup><a target="_blank" href="https://www.canada.ca/en/health-canada/services/food-nutrition/healthy-eating/dietary-reference-intakes/tables/reference-values-elements.html">ref</a></sup>
</div>
