::deep form {
    height: 100%;
    display: flex;
}

.btn:disabled {
    opacity: .3;
}

.flip-x {
    transform: scaleX(-1);
}

img {
    vertical-align: unset;
}

@media (prefers-color-scheme: light) {
    .filter-invert {
        filter: invert(.45);
    }
}

@media (prefers-color-scheme: dark) {
    img {
        filter: invert(.85);
    }
}

.range-slider {
    pointer-events: none;
    position: absolute;
    appearance: none;
    background: none;
    width: 100%;
    z-index: 1;
    inset: 0;
}

.range-slider::-webkit-slider-thumb {
    appearance: none;
    background: none;
    display: none;
    border: none;
}

.range-slider::-moz-range-thumb {
    appearance: none;
    background: none;
    display: none;
    border: none;
}

.range-track {
    height: 8px;
    width: 100%;
}

.range-unselected {
    position: absolute;
    margin: auto;
    height: 2px;
    width: 100%;
    bottom: 0;
    top: 0;
}

.range-selected {
    background: lightgreen;
    position: absolute;
    height: 100%;
}

.actual-value {
    position: absolute;
    font-size: 10px;
    line-height: 1;
    bottom: 100%;
}

.tick {
    transform: translateX(-50%);
    position: absolute;
    height: 100%;
    width: 1px;
    top: 0;
}
