@media (prefers-color-scheme: dark) {
    :root {
        --color-bg: 27, 30, 32;
        --color-text: 214,216,218;
        --color-link: 108,168,210;
        --color-link-visited: 108,168,210;
        --color-scrollbar: 136,136,136;
        --color-scrollbar-bg: 68,68,68
    }
}

@media (prefers-color-scheme: light) {
    :root {
        --color-bg: 245,245,245; /*whitesmoke*/
        --color-text: 0,0,0;
        --color-link: 0,0,238;
        --color-link-visited: 0,0,238;
        --color-scrollbar: 68,68,68;
        --color-scrollbar-bg: 136,136,136
    }
}


html, body {
    /* Prevent the flash of unstyled content before the newsletter has rendered. Should match --color-bg and --color-text. */
    background-color: rgb(var(--color-bg));
    color: rgb(var(--color-text));
}

a {
    color: rgb(var(--color-link))
}

a:focus, a:hover {
    color: rgba(var(--color-link), .75)
}

a:visited {
    color: rgb(var(--color-link-visited))
}