@model IgnoredRecipesViewModel
@using Core.Models.Recipe
@using Core.Models.User
@using Lib.Pages.Shared.Recipe

@if (Model.IgnoredRecipes.Any())
{
    <details class="mt-4 mb-25">
        <summary class="mb-1 h5">
            @Html.DisplayNameFor(_ => Model.IgnoredRecipes)
            <span class="float-end">@Model.IgnoredRecipes.Count()</span>
        </summary>

        <component type="typeof(RecipeSection)" render-mode="Static" param-User="Model.UserNewsletter" param-Recipes='Model.IgnoredRecipes' param-Theme='Section.None.AsTheme()' param-Verbosity="Model.Verbosity" />
    </details>
}
