@model IgnoredIngredientsViewModel
@using Core.Models.Recipe
@using Core.Models.User


@if (Model.IgnoredIngredients != null && Model.IgnoredIngredients.Any())
{
    <details class="mt-4 mb-25">
        <summary class="mb-1 h5">
            @Html.DisplayNameFor(_ => Model.IgnoredIngredients)
            <span class="float-end">@Model.IgnoredIngredients.Count()</span>
        </summary>

        <component type="typeof(Lib.Pages.Shared.Ingredient.IngredientSection)" render-mode="Static" param-User="Model.UserNewsletter" param-Ingredients='Model.IgnoredIngredients' />
    </details>
}