@model RecipesViewModel
@using Core.Models.Recipe
@using Lib.ViewModels.User
@using Lib.ViewModels.Newsletter
@using Core.Models.User

@if (Model.Recipes != null && Model.Recipes.Any())
{
    <details class="mt-4 mb-25">
        <summary class="mb-1 h5">
            @Html.DisplayNameFor(_ => Model.Recipes)
            <span class="float-end">@Model.Recipes.Count()</span>
        </summary>

        <component type="typeof(Lib.Pages.Shared.Recipe.RecipeSection)" render-mode="Static" param-User="Model.UserNewsletter" param-Recipes='Model.Recipes' param-Theme='RecipeTheme.None' param-Verbosity="Model.Verbosity" />
    </details>
}
