details[open] {
    bottom: env(safe-area-inset-bottom);
}

.cursor--pointer {
    cursor: pointer;
}

.search-form {
    max-height: 100vh;
    position: fixed;
    overflow: auto;
    z-index: 1;
    right: 0;
    top: 0;
}
