@model WorkoutsPerWeekViewModel

@{
    var workoutDaysPerWeekAlertType = Model.User.WorkoutsDays switch
    {
        _ when Model.User.WorkoutsDays > (Model.MaxWorkoutsPerWeek + 1) || Model.User.WorkoutsDays < (Model.MinWorkoutsPerWeek - 1) => "alert-danger",
        _ when Model.User.WorkoutsDays == (Model.MaxWorkoutsPerWeek + 1) || Model.User.WorkoutsDays == (Model.MinWorkoutsPerWeek - 1) => "alert-warning",
        _ => "alert-success"
    };
}

<div class="alert @workoutDaysPerWeekAlertType" role="alert">
    <details>
        <summary>
            <b>You are working out for @Model.User.WorkoutsDays days each week.</b>
        </summary>
    </details>
</div>
