@model MicrobiomeViewModel
@inject IOptions<SiteSettings> SiteSettings

<div class="alert alert-dark" role="alert">
    <details>
        <summary>
            <div class="d-inline-flex w-100 row align-items-center gy-2">
                <div class="col">
                    <div>Upload Microbiome</div>
                </div>
                <div class="col-auto pe-0">
                    <input id="m-upload" type="file" class="btn btn-outline-secondary d-none" />
                    <div class="input-group">
                        <label for="m-upload" class="btn btn-outline-secondary">Choose File</label>
                        <input id="m-filename" type="text" class="form-control border-secondary text-secondary" value="No file choosen" disabled="disabled">
                    </div>
                </div>
            </div>
        </summary>

        <div class="mt-3 small">
            Upload a microbiome file for personalized recommendations. The connection to your raw data file is local, on your computer. Your data is not stored on A Feast a Day. Please do not connect your data on a public computer.
        </div>
    </details>
</div>

<script type="module">
    const dbVersion = 3;
    const dbName = 'microbiome';
    const storeName = 'microbiome';

    const db = window.tdb(dbName, dbVersion, storeName);
    db.openDB(() => {
        // Set the filename if the file exists.
        db.get(storeName, 'name', (filename) => {
            if (filename) {
                document.getElementById('m-filename').value = filename;
            }
        });
    });

    document.getElementById('m-upload').addEventListener('change', (e) => {
        const file = e.target.files[0];

        Papa.parse(file, {
            header: true,
            complete: function(results) {
                document.getElementById('m-filename').value = file.name;
                db.upsert(storeName, 'name', file.name);
                db.upsert(storeName, 'data', results.data);
                console.debug(results.data);
            }
        });
    });
</script>