@model IgnoredViewModel
@using Core.Models.Recipe
@using Lib.ViewModels.User
@using Lib.ViewModels.Newsletter
@using Core.Models.User

@if (Model.UserNewsletter.Features.HasFlag(Features.Demo))
{
    <div class="alert alert-info callout">
        Ignore unwanted recipes!
    </div>
}

@if (Model.IgnoredRecipes != null && Model.IgnoredRecipes.Any())
{
    <details class="mt-4 mb-25">
        <summary class="mb-1 h5">
            @Html.DisplayNameFor(_ => Model.IgnoredRecipes)
            <span class="float-end">@Model.IgnoredRecipes.Count()</span>
        </summary>

        @foreach (var group in Model.IgnoredRecipes.GroupBy(v => v.Section).OrderBy(g => g.Key))
        {
            <details class="ms-3 mt-4 mb-25">
                <summary class="mb-1 h5">
                    @group.Key.GetSingleDisplayName()
                    <span class="float-end">@group.Count()</span>
                </summary>

                <component type="typeof(Lib.Pages.Shared.Recipe.RecipeSection)" render-mode="Static" param-User="Model.UserNewsletter" param-Exercises='group' param-Theme='group.Key.AsTheme()' param-Verbosity="Model.Verbosity" />
            </details>
        }
    </details>
}