@model Views.Shared.Components.ManageIngredients.ManageIngredientsViewModel
@using System.Numerics
@using Core.Models.Recipe
@using Core.Consts

<details class="mt-4 mb-1">
    <summary class="mb-1 h5">
        <span>Ingredients</span>
        <span class="float-end">@Model.Ingredients.Count()</span>
    </summary>

    <component type="typeof(Lib.Pages.Shared.Ingredient.IngredientSecton)" render-mode="Static" param-User="Model.User" param-Ingredients='Model.Ingredients' />
</details>