@model UserManageIngredientViewModel
@using Core.Models.Recipe
@using Web.Components.Ingredients
@using Web.Code.Extensions

@{
    ViewData[ViewData_Blank.Title] = "Ingredient";
}

<div class="row gy-2 mb-2 mt-1 justify-content-between align-items-end">
    <div class="col-auto mb-3">
        <h1 class="primary-heading">Ingredient</h1>
        <h2 class="sub-heading mt-0 ps-1">@Model.Ingredient.Name</h2>
    </div>
    <partial name="_ValidationMessagePartial" model='new ValidationMessagePartialModel() { WasUpdated = Model.WasUpdated, GoBackOnSave = true }' />
</div>

<div class="row gy-4">
    <div class="col-lg-6">
        <div class="row gy-4">
            <div @* no-nested-rows *@>
                @await Component.InvokeAsync(ManageIngredientViewComponent.Name, new { Model.User, Model.Ingredient, Model.Parameters })
            </div>

            @if (Model.CanManage)
            {
                <div @* no-nested-rows *@>
                    <div class="alert alert-light shadow mb-0">
                        @await Component.InvokeAsync(UpsertIngredientViewComponent.Name, new { Model.User, Model.Ingredient, Model.Parameters })
                    </div>
                </div>
            }
        </div>
    </div>

    @if (Model.CanManage)
    {
        <div class="col">
            <div class="row gy-4">
                @await Component.InvokeAsync(IngredientAlternativesViewComponent.Name, new { Model.User, Model.Ingredient, Model.Parameters })
                @await Component.InvokeAsync(IngredientAttrViewComponent.Name, new { Model.User, Model.Ingredient, Model.Parameters })
            </div>
        </div>
    }
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" model='new ValidationScriptsPartialViewModel() { IsDemoUser = Model.User.IsDemoUser }' />
}
