@inject DisplayHelper DH
@inject IOptions<SiteSettings> SiteSettings
@using Core.Models.Options
@using Microsoft.Extensions.Options

@if (User.IsAlmostInactive)
{
    <div style="background-color:antiquewhite;padding:1rem;margin-block:1rem;">
        <span>Your account will soon be automatically deactivated. <a target="_blank" href="@DH.UserActiveLink(User)">Click here to continue receiving recipes</a>.</span>
    </div>
}

@if (User.IsNewlyCreated)
{
    <div style="background-color:antiquewhite;padding:1rem;margin-block:1rem;">
        <span>Click on the &#127760; to manage a recipe and its ingredients. This message will disappear soon.</span>
    </div>
}

@code {
    [Parameter, EditorRequired]
    public Core.Dtos.User.UserNewsletterDto User { get; set; } = null!;
}
