@page "/newsletter/shoppinglist"
@inject DisplayHelper DH
@using System.Net
@using Core.Models.Footnote
@using Core.Models.Newsletter

@if (List?.Any() == true)
{
    <div style="background-color:lavender;padding:1rem;margin-block:1rem;">
        <h4 style="margin:0;">Shopping List</h4>
        <p style="margin:0 0 1rem 0;">Does not include the recipe of the day</p>
        <ul style="padding-inline-start:2ch;margin-block:0;display:grid;gap:1ex;">
            @foreach (var ingredient in List)
            {
                <li>@ingredient.Quantity @(ingredient.Measure?.GetSingleDisplayName()) @ingredient.Name</li>
            }
        </ul>
    </div>
}

@code {
    [Parameter]
    public ViewModels.User.UserNewsletterViewModel? User { get; set; }

    [Parameter, EditorRequired]
    public IList<Lib.ViewModels.Newsletter.IngredientViewModel>? List { get; set; }

    [Parameter, EditorRequired]
    public Verbosity Verbosity { get; set; }
}