@model IngredientsViewModel
@using Core.Models.Recipe
@using Core.Models.User

@if (Model.Ingredients != null && Model.Ingredients.Any())
{
    <details class="mt-3 mb-25">
        <summary class="mb-1 h5">
            @Html.DisplayNameFor(_ => Model.Ingredients)
            <span class="float-end">@Model.Ingredients.Count()</span>
        </summary>

        <component type="typeof(Lib.Pages.Shared.Ingredient.IngredientSecton)" render-mode="Static" param-User="Model.UserNewsletter" param-Ingredients='Model.Ingredients' />
    </details>
}