::deep select[data-value=""] {
    color: rgba(var(--color-text), 0.65);
}

::deep option[value=""] {
    color: rgba(var(--color-text), 0.65);
}

::deep option {
    color: rgba(var(--color-text), 1);
}

.quantity-input {
    height: fit-content;
    width: 5ch;
}